.header{
    background:linear-gradient(90deg,#B4F2F4,#7DEAEE);
    padding:24px 32px;
    border-radius:14px;
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}

.header h3{
    font-size:20px;
    color:#0319A7;
}

.card-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:22px;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:24px;
    border-radius:14px;
    text-align:center;
    box-shadow:0 6px 16px rgba(0,0,0,.06);
}

.card.highlight{
    border:2px solid #316BA1;
    transform:scale(1.05);
}
